<h1>Listing connections</h1>

<table>
  <thead>
    <%= render :partial => 'list_head' %>
  </thead>

  <tbody>
    <% @connections.each do |connection| %>
      <%= render :partial => 'list_row', :locals => {:connection => connection} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Connection', new_connection_path %>
