<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ZAZO</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="assets/extlib/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div class="container-fluid">
  <div class="row">
    <section class="top padding_10em_20em text-center">
      <h1 class="top_heading">Hey Matt,</h1>
      <h3 class="middle_heading">I sent you a message on zazo</h3>
      <h5 class="bottom_heading">~Sani Elfishawy</h5>
     <div class="margin_top50"><img src="assets/images/arro.png"></div>
    </section>
    <section class="middle padding_10em_20em text-center">
      <button class="btn get_btn">Get the App!</button>
      <h5 class="text_download">Download the zazo app today to receive Sani's message. </h5>
        <a href=""><img src="assets/images/appstore_btn.png"> </a>
        <a href=""><img src="assets/images/google_play_btn.png"> </a>
    </section>
    <section class="bottom padding_10em_20em text-center">
      <img src="assets/images/logo.png">
      <h4 class="bottom_content">Send and Receive video messages.</h4>
    </section>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
