<div class="salutation">Hey <%= @invitee.first_name %>,</div>
<div class="message">I sent you a message on Zazo.</div>
<div class="closing">~ <%= @inviter.first_name %></div>
<div class="btn"><a href="<%= @store_link %>">Get the App!</a></div>
