h1 Zazo Privacy Policy

p.well On registration you provide us with your name and phone number. We store this information securely. We never share it with anyone. Ever.

section = link_to 'Home', root_path
