db_host:
db_name:
db_password:
db_port: '3306'
db_username:

domain_name: localhost:3000

gcm_api_key:
gcm_uri: https://android.googleapis.com/gcm/send

http_basic_password:
http_basic_username:

secret_key_base:

smtp_address: email-smtp.us-east-1.amazonaws.com
smtp_helo_domain_name: zazoapp.com
smtp_password:
smtp_port: '587'
smtp_user_name:

twilio_from_number: '+16503766005'
twilio_ssid:
twilio_to_number: '+16502453537'
twilio_token:

airbrake_api_key:

test:
  db_name: tbm_test

staging:
  domain_name: staging.zazoapp.com
  db_host:
  db_name:
  db_password:
  db_port: '3306'
  db_username:

playground:
  db_host:
  db_name:
  db_password:
  db_port: '3306'
  db_username:

production:
  domain_name: prod.zazoapp.com
  db_host:
  db_name:
  db_password:
  db_port: '3306'
  db_username:
