AWS_REGION: us-west-1
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:

s3_access_key_id:
s3_secret_access_key:

db_host:
db_name:
db_password:
db_port: '3306'
db_username:

domain_name: localhost:3000

gcm_api_key:
gcm_uri: https://android.googleapis.com/gcm/send

http_basic_password:
http_basic_username:

secret_key_base:

smtp_address: email-smtp.us-east-1.amazonaws.com
smtp_helo_domain_name: zazoapp.com
smtp_password:
smtp_port: '587'
smtp_user_name:

twilio_from_number: '+16503766005'
twilio_ssid:
twilio_to_number: '+16502453537'
twilio_token:

rollbar_access_token:
client_rollbar_access_token:

ios_rollbar_access_token:
android_rollbar_access_token:

papertrail_host:
papertrail_port:
papertrail_program:
papertrail_local_hostname:

newrelic_license_key:

sqs_queue_url:

verification_code_backdoor:

test:
  db_name: tbm_test

staging:
  domain_name: staging.zazoapp.com
  db_host:
  db_name:
  db_password:
  db_username:

playground:
  domain_name: playground.zazoapp.com
  db_host:
  db_name:
  db_password:
  db_username:

production:
  domain_name: prod.zazoapp.com
  db_host:
  db_name:
  db_password:
  db_username:

statistics:
  domain_name: statistics.zazoapp.com
  db_host:
  db_name:
  db_password:
  db_username:
