default: &default
  adapter: mysql2
  encoding: utf8
  database: <%= Figaro.env.db_name %>
  username: <%= Figaro.env.db_username %>
  password: <%= Figaro.env.db_password %>
  host: <%= Figaro.env.db_host %>
  port: <%= Figaro.env.db_port.to_i %>


development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
